body {
	background-color: #bbd8b3;
	max-height: 100vh;
	display: flex;
}

h1 {
	font-size: 10em;
	color: black;
	text-align: center;
}

.full {
	margin: auto;
	flex-direction: column;
	align-content: center;
}
