body {
	background-color: #f2a832;
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	max-height: 100vh;
	overflow: hidden;
}

/*div {
	vertical-align: middle;
}*/

.full {
	margin-top:-10vh;
	text-align: center;
	/*vertical-align: middle;*/
/*	resize: vertical;*/
}